.polls {
    border: 3px solid #ed1c24;
    margin-top: 10px;
}
.polls h3 {
    color: #FFF;
    background-color: #ed1c24;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-weight: bold;
}
.bx-vote-block {
	background-color: #ffffff;
	border-radius: 1px;
	color: #535c69;
	padding: 0 0 13px;
}


ol.bx-vote-question-list,
ol.bx-vote-question-list li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.bx-vote-question-list li {
	margin-top: 19px;
}

.bx-vote-question-list li:first-child {
	margin-top: 0;
}

.bx-vote-question-title {
	border-bottom: 1px solid #e6eaec;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	padding: 9px 0 9px 17px;
}
.bx-vote-block-result .bx-vote-question-title,
.bx-vote-block-result .bx-vote-bottom-block {
	border-color: #f4f7f8;
}


.bx-vote-answer-list {
	border: none;
	border-spacing: 0;
	margin: 10px 0 5px;
	font-size: 14px;
	width: 100%;
}

.bx-vote-answer-item td {
	width: 30px;
	vertical-align: middle;
}

.bx-vote-answer-item td:first-child {
	text-align: left;
	padding: 0 0 0 17px;
	width: auto;
}

.bx-vote-answer-item td:last-child {
	text-align: right;
	padding: 2px 18px 0 6px;
	white-space: nowrap;
}

.bx-vote-bar {
	min-height: 27px;
	margin: 3px 0 4px 0;
	position: relative;
}

.bx-vote-text-field {
	background-color: #fff;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	height: 25px;
	padding: 0 0 0 5px;
	width: 330px;
	color: #616161;
	font-size: 14px;
	margin-left: -5px;
}


.bx-vote-block-input-wrap label {
	color: #616161;
	display: block;
	line-height: 16px;
	overflow: hidden;
	padding: 5px 0 0;
}

.bx-vote-voted-users-wrap {
	display: inline-block;
	min-width: 25px;
	margin-right: 6px;
	text-align: right;
	vertical-align: top;
	opacity: 0;
	white-space: nowrap;
}

.bx-vote-voted-users,
a.bx-vote-voted-users,
.bx-vote-voted-users:hover,
a.bx-vote-voted-users:hover {
	border-bottom: 1px dashed #707172;
	color: #707172;
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
}

.bx-vote-data-percent {
	display: inline-block;
	font-size: 14px;
	color: #b2b4b5;
	text-align: right;
	opacity: 0;
	white-space: nowrap;
}

.bx-vote-bottom-block {
	border-top: 1px solid #e6eaec;
	min-height: 41px;
	padding: 13px 0 0 17px;
}

.bx-vote-block-link {
	color: #ed1c24;
	border-bottom: 1px solid transparent;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: normal;
	margin-top: 14px;
	margin-right: 14px;
	vertical-align: top;
}

.bx-vote-block-link:hover {
	border-bottom: 1px solid;
	color: #ed1c24;
	text-decoration: none;
}

.bx-vote-block-link.feed-add-button-load:before,
.bx-vote-block-link.feed-add-button-load:after{
	display: none;
}

.bx-vote-block-link.feed-add-button-load {
	background: none !important;
	color: #ed1c24 !important;
}

.bx-vote-block .feed-add-button,
.bx-vote-block .feed-add-button:hover,
.bx-vote-block .feed-add-button-transparent,
.bx-vote-block .feed-add-button-transparent:hover {
	border-bottom: none;
}

.bx-vote-bottom-block .feed-add-button {
	margin-top: 0;
}


.bx-vote-block-result .bx-vote-block-input-wrap label {
	position: relative;
	z-index: 2;
}

.bx-vote-block-result .bx-vote-bar {
	background-color: #fff;
	border-color: #e5e9eb;
}

.bx-vote-block-result .bx-vote-voted-users-wrap,
.bx-vote-block-result .bx-vote-data-percent {
	opacity: 1;
}

.bx-vote-result-bar {
	background-color: #fcdada;;
	border-radius: 2px;
	top: 0;
	left: 0;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 0;

	-webkit-transition: width 0.4s cubic-bezier(.22,.68,.12,1);
	transition: width 0.4s cubic-bezier(.22,.68,.12,1);
}

.bx-vote-loading {
	padding-right: 24px;
	background: url("images/waiter-blue.gif") right top no-repeat;
}

.bx-vote-block .errortext {
	color: red !important;
}

.bx-vote-block-input-wrap {
	display: block;
	margin-left: 0;
	min-height: 16px;
	overflow: hidden;

	-webkit-transition: margin-left 0.3s linear;
	transition: margin-left 0.3s linear;
}

.bx-vote-block-result .bx-vote-block-input-wrap {
	margin-left: 8px;
}


label.bx-vote-block-input-wrap-inner {
	display: block;
	float: left;
	margin: 5px 12px 0 0;
	line-height: normal;
	overflow: visible;
	padding: 0;
	position: relative;
	width: 15px;
}

.bx-vote-block-input-disable {
	opacity: 0.4;
}


.bx-vote-block-inp-substitute {
	background-color: #fcfdfd;
	border: 1px solid #b7bdc5;
	display: block;
	height: 13px;
	position: relative;
	width: 13px;
}

.bx-vote-block-checbox-wrap .bx-vote-block-inp-substitute {
	border-radius: 1px;
}

.bx-vote-block-radio-wrap .bx-vote-block-inp-substitute {
	border-radius: 50%;
}

.bx-vote-block-inp-substitute:before {
	content: '';
	display: block;
	position: absolute;

	-webkit-transition: none;
	transition: none;
}

.bx-vote-block-checbox-wrap .bx-vote-block-inp-substitute:before {
	background: url(images/voting-tick.png) no-repeat 0 0;
	height: 12px;
	left: 1px;
	top: -2px;
	width: 0;
}

.bx-vote-block-radio-wrap .bx-vote-block-inp-substitute:before {
	background-color: #000;
	border-radius: 50%;
	height: 0;
	left: 7px;
	top: 7px;
	width: 0;
}

.bx-vote-block-input-wrap-inner input[type='checkbox']:checked + .bx-vote-block-inp-substitute:before {
	width: 15px;

	-webkit-transition: width 0.2s linear;
	transition: width 0.2s linear;
}

.bx-vote-block-input-wrap-inner input[type='checkbox']:checked + .bx-vote-block-inp-substitute,
.bx-vote-block-input-wrap-inner input[type='radio']:checked + .bx-vote-block-inp-substitute {
	background-color: #fff;
	border-color: #ed1c24;
}

.bx-vote-block-input-wrap-inner input[type='radio']:checked + .bx-vote-block-inp-substitute:before {
	border-width: 0;
	height: 7px;
	left: 3px;
	top: 3px;
	width: 7px;

	-webkit-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.bx-vote-block-input-wrap-inner input {
	position: absolute;
	left: -80px;
	top: -20px;
}

.bx-vote-bottom-block .feed-add-button {
	background-color: #ed1c24;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height: 47px;
	line-height: 47px;
	margin-right: 15px;
	min-width: 103px;
	padding: 0 12px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;

	-webkit-transition: background-color 0.3s linear !important;
	transition: background-color 0.3s linear !important;
}

.bx-vote-bottom-block .feed-add-button:hover {
	background-color: #ed1c24;
	color: #fff;
}

.bx-vote-bottom-block .feed-add-button-load,
.bx-vote-bottom-block .feed-add-button-load:hover {
	background: #ed1c24;
	color: transparent;
	cursor: pointer;
	position: relative;
}

.bx-vote-bottom-block .feed-add-button-load:before {
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	content: '_';
	/*content: '';*/
	font-size: 10px;
	font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 9px;
	height: 19px;
	top: 14px;
	left: 50%;
	margin-left: -10px;
	padding-right: 5px;
	position: absolute;
	text-align: right;
	width: 14px;
}

.bx-vote-bottom-block .feed-add-com-button.feed-add-button-load:before {
	top: 10px;
}

.bx-vote-bottom-block .feed-add-button-load:after {
	background-color: #fff;
	content: '';
	height: 7px;
	position: absolute;
	top: 18px;
	left: 50%;
	width: 1px;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;

	-webkit-animation: clock 1s infinite linear;
	animation: clock 1s infinite linear;
}

.bx-vote-bottom-block .feed-add-com-button.feed-add-button-load:after {
	top: 14px;
}

@-webkit-keyframes clock {
	0%   { -webkit-transform: rotate(0deg) }
	100% {  -webkit-transform: rotate(360deg) }

	0%   { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}

@keyframes clock {
	0%   { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}